### Java ###
*.class
bin/

### Gradle ###
.gradle/
.gradle-home/
build/
!gradle/wrapper/gradle-wrapper.jar

### OS ###
.DS_Store
Thumbs.db

### IDE ###
.idea/
!.idea/runConfigurations/
.vscode/
*.iml
*.iws
*.ipr

### 공통 ###
*.log
.env
.env.*

### agents file
.claude/settings.local.json

### 프로젝트 특화 ###
cats-report/
