### Java ###
*.class
bin/

### Gradle ###
.gradle-home/
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### 런타임 데이터 ###
data/runs/*
!data/runs/.gitkeep
